
.wd-follow-images{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/*.wd-follow-row{*/
/*    height: 30px;*/
/*}*/

.wd-follow-profile{
    font-size: 12px;
}

/*.wd-follow-tag{*/
/*    font-size: 10px;*/
/*}*/

/*.wd-follow-button{*/
/*    font-size: 8px;*/
/*    border-radius: 20px;*/
/*}*/