
.wd-button{
    width: 100%;
    border-radius: 50px;
}

.wd-follow-images{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.wd-follow-row{
    height: 30px;
}

.wd-follow-profile{
    font-size: 12px;
}

.wd-follow-tag{
    font-size: 10px;
}

.wd-follow-button{
    font-size: 8px;
    border-radius: 20px;
    position: relative;
    right: 0px;
}


.wd-search-box {
    border: none;
    width: 100%;
}

.wd-search-bar{
    border-radius: 30px;
    height: 35px;
}

.wd-border{
    border: 1px solid #475154;
}

.wd-margin-5{
    margin: 5px;
}

.wd-margin-sides{
    margin-left: 15px;
    margin-right: 15px;
}


.wd-main-image{
    width: 100%;
}

.wd-main-text{
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 40px;
    left: 5px;
    height: 1px;
}

.wd-text-grey{
    color: #475154;
}

.wd-tuit-image{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}